.error-404{
	text-align: center;
	padding: 150px 0;
	h1{
		font-family: font(sourcesanspro, family);
		font-weight: 600;
		color: color(button, bghover);
    	text-transform: uppercase;
	}
	p{
		color: color(primary, ptext);
		@include font-size(40);
		font-weight: 600;
		@include breakpoint(mobile-potrait){
			@include font-size(25);
		}
	}
	img{ max-width: 100%; height: auto;}
	a.rmbttn{
		font-family: font(sourcesanspro, family);
		background: color(button, bg);
		color: color(primary, white);
		font-weight: 600;
		display: inline-block;
		padding: 13px 40px;
		text-transform: uppercase;
		line-height: normal;
		@include font-size(16);
		@include radius(35px);
		margin: 15px 0 50px;
		&:hover{
			background: color(button, bghover);
		
		}
	}

}